.wrapper {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.social {
  margin-bottom: var(--mb-4);
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);

  &:hover {
    color: var(--first-color);
  }
}

.copy {
  font-size: var(--smaller-font-size);
}
