.wrapper {
  @include section;

  display: flex;
  flex-direction: column;
}

.container {
  @include container;

  display: grid;
  row-gap: 2rem;

  @include media-from(576) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }

  @include media-from(768) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

.title {
  @include title;
}

.button {
  margin-top: 25px;
  align-self: center;
}

.trigger {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;

  img {
    transition: 1s;
    width: 100%;

    &:hover {
      transform: scale(1.1);
    }
  }
}
