.wrapper {
  @include container;

  position: relative;
  padding-top: 4rem;
  padding-bottom: 5rem;

  @include media-from(576) {
    @include main-grid;

    padding-bottom: 2rem;
  }

  @include media-from(768) {
    padding-top: 6rem;
  }

  @include media-from(991) {
    padding-top: 10rem;
    padding-bottom: 2rem;
  }
}

.container {
  display: grid;
  gap: 2rem;
  grid-column: 1 / 7;
  align-self: center;

  @include media-from(991) {
    grid-column: 1 / 8;
  }
}

.data {
  align-self: center;
}

.content {
  h1 {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
  }
}

.title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.accent {
  color: var(--first-color);
}

.social {
  display: flex;

  @include media-from(576) {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
}

.icon {
  width: max-content;
  margin-right: var(--mb-4);
  font-size: 1.5rem;
  color: var(--second-color);

  &:hover {
    color: var(--first-color);
  }
}

.img {
  grid-column: 7 / -1;
  align-self: center;

  @include media-up-to(575.9) {
    display: none;
  }

  @include media-from(576) {
    width: 300px;
  }

  @include media-from(768) {
    width: 400px;
  }

  @include media-from(991) {
    width: 500px;
    grid-column: 8 / -1;
  }

  @include media-from(1280) {
    width: 550px;
  }
}

.blob {
  fill: var(--first-color);
}
.blobImg {
  width: 360px;
}
