.wrapper {
  @include section;
}

.container {
  @include container;

  display: grid;
  justify-items: center;
}

.title {
  @include title;
}

.form {
  @include media-from(576) {
    width: 360px;
    padding-top: 2rem;
  }
}

.input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
  resize: none;

  &::placeholder {
    font: inherit;
  }
}

.button {
  display: block;
}

.invalid {
  border-color: red;
}

.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.status {
  display: flex;
  gap: 16px;
  flex-direction: row-reverse;
  align-items: center;
}

.spinner {
  animation: spinner 1s linear infinite both;
}

.success {
  color: teal;
}

.errorStatus {
  color: brown;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
